USE [BuddhaRelaxSpaDb]
GO
/****** Object:  Table [dbo].[tblAuthentication]    Script Date: 9/19/2020 7:28:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblAuthentication](
	[AuthenticationId] [bigint] IDENTITY(1,1) NOT NULL,
	[UserId] [bigint] NULL,
	[UserType] [varchar](100) NULL,
	[UserName] [varchar](100) NULL,
	[Password] [varchar](100) NULL,
	[IsLockedOut] [bit] NULL,
	[IsDelete] [bit] NULL,
	[CreatedBy] [varchar](100) NULL,
	[CreatedDate] [datetime] NULL,
	[ModifyDate] [datetime] NULL,
	[ModifyBy] [varchar](100) NULL,
	[LastLoginDate] [varchar](100) NULL,
	[LastPasswordChangedDate] [varchar](100) NULL,
	[LastLockoutDate] [datetime] NULL,
	[Comment] [varchar](500) NULL,
 CONSTRAINT [PK_tblAuthentication] PRIMARY KEY CLUSTERED 
(
	[AuthenticationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblBranch]    Script Date: 9/19/2020 7:28:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblBranch](
	[BranchId] [bigint] IDENTITY(1,1) NOT NULL,
	[CompanyId] [bigint] NULL,
	[BranchName] [varchar](200) NULL,
	[HandlerName] [varchar](200) NULL,
	[Address] [varchar](500) NULL,
	[City] [varchar](100) NULL,
	[State] [varchar](100) NULL,
	[CreatedDate] [datetime] NULL,
	[IsDeleted] [bit] NOT NULL,
	[IsHeadBranch] [bit] NOT NULL,
 CONSTRAINT [PK_tblBranch] PRIMARY KEY CLUSTERED 
(
	[BranchId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblClient]    Script Date: 9/19/2020 7:28:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblClient](
	[ClientId] [bigint] IDENTITY(1,1) NOT NULL,
	[ClientName] [varchar](200) NULL,
	[MemberName] [varchar](200) NULL,
	[CardNo] [varchar](200) NULL,
	[DateOfBirth] [varchar](200) NULL,
	[Gender] [varchar](100) NULL,
	[Address] [varchar](500) NULL,
	[City] [varchar](100) NULL,
	[State] [varchar](100) NULL,
	[Phone] [varchar](15) NULL,
	[CustomerImage] [varchar](200) NULL,
	[CustomerQRCode] [varchar](max) NULL,
	[IsDeleted] [bit] NOT NULL,
	[Email] [varchar](200) NULL,
	[TherapyPreference] [varchar](max) NULL,
	[InjuryOrDisease] [varchar](max) NULL,
	[MassagePreference] [varchar](max) NULL,
	[PainingArea] [varchar](max) NULL,
	[MassageCount] [int] NULL,
	[MassageBalance] [int] NULL,
	[MassageTime] [int] NOT NULL,
	[CompanyId] [bigint] NULL,
	[BranchId] [bigint] NULL,
 CONSTRAINT [PK_tblClient] PRIMARY KEY CLUSTERED 
(
	[ClientId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblClientInvoice]    Script Date: 9/19/2020 7:28:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblClientInvoice](
	[ReceiptNo] [bigint] IDENTITY(1,1) NOT NULL,
	[ReceiptDate] [datetime] NULL,
	[ClientName] [varchar](200) NULL,
	[MemberShipNo] [bigint] NULL,
	[Mobile] [varchar](50) NULL,
	[PaymentMode] [varchar](10) NULL,
	[AmountInWord] [varchar](300) NULL,
	[Amount] [decimal](18, 0) NULL,
	[ManagerSignature] [varchar](max) NULL,
	[CreatedDate] [datetime] NULL,
	[InvoiceFileName] [varchar](max) NULL,
 CONSTRAINT [PK_tblClientInvoice] PRIMARY KEY CLUSTERED 
(
	[ReceiptNo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblCompany]    Script Date: 9/19/2020 7:28:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblCompany](
	[CompanyId] [bigint] IDENTITY(1,1) NOT NULL,
	[CompanyName] [varchar](200) NULL,
	[CreatedDate] [varchar](200) NULL,
	[Address] [varchar](500) NULL,
	[City] [varchar](100) NULL,
	[State] [varchar](100) NULL,
	[IsDeleted] [bit] NOT NULL,
 CONSTRAINT [PK_tblCompany] PRIMARY KEY CLUSTERED 
(
	[CompanyId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblEmployee]    Script Date: 9/19/2020 7:28:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblEmployee](
	[EmployeeId] [bigint] IDENTITY(1,1) NOT NULL,
	[RoleId] [bigint] NOT NULL,
	[FirstName] [varchar](100) NULL,
	[LastName] [varchar](100) NULL,
	[EmailId] [varchar](100) NULL,
	[MobileNumber] [varchar](20) NULL,
	[Gender] [varchar](50) NULL,
	[Address] [varchar](max) NULL,
	[ProfileImg] [varchar](50) NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedBy] [varchar](100) NULL,
	[CreatedDate] [datetime] NULL,
	[ModifyBy] [varchar](100) NULL,
	[ModifyDate] [datetime] NULL,
	[IsDelete] [bit] NOT NULL,
	[CompanyId] [bigint] NULL,
	[BranchId] [bigint] NULL,
 CONSTRAINT [PK_tblEmployee] PRIMARY KEY CLUSTERED 
(
	[EmployeeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblExpenses]    Script Date: 9/19/2020 7:28:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblExpenses](
	[ExpensesId] [bigint] IDENTITY(1,1) NOT NULL,
	[CreatedbyEmployeeId] [bigint] NOT NULL,
	[CompanyId] [bigint] NOT NULL,
	[EmployeeId] [bigint] NULL,
	[Note] [varchar](max) NULL,
	[CreatedDate] [datetime] NULL,
	[TransactionType] [varchar](20) NULL,
	[Amount] [decimal](18, 0) NULL,
	[BranchId] [bigint] NULL,
 CONSTRAINT [PK_tblExpenses] PRIMARY KEY CLUSTERED 
(
	[ExpensesId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblRoleMaster]    Script Date: 9/19/2020 7:28:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblRoleMaster](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[RoleName] [nvarchar](50) NULL,
	[Status] [bit] NOT NULL,
	[Created] [datetime] NOT NULL,
	[Modified] [datetime] NOT NULL,
	[ModifiedCount] [int] NOT NULL,
 CONSTRAINT [PK_SEC_Role] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblTherapyLogs]    Script Date: 9/19/2020 7:28:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblTherapyLogs](
	[LogId] [bigint] IDENTITY(1,1) NOT NULL,
	[ClientId] [bigint] NULL,
	[ClientName] [varchar](200) NULL,
	[EmployeeId] [bigint] NULL,
	[StartDatetime] [datetime] NULL,
	[EndDateTime] [datetime] NULL,
	[IsCompleted] [bit] NOT NULL,
	[MassageTime] [int] NOT NULL,
	[RoomNo] [varchar](100) NULL,
	[IsStarted] [bit] NOT NULL,
	[IsDeleted] [bit] NOT NULL,
	[DeleteReason] [varchar](500) NULL,
 CONSTRAINT [PK_tblTherapyLogs] PRIMARY KEY CLUSTERED 
(
	[LogId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[tblAuthentication] ON 

INSERT [dbo].[tblAuthentication] ([AuthenticationId], [UserId], [UserType], [UserName], [Password], [IsLockedOut], [IsDelete], [CreatedBy], [CreatedDate], [ModifyDate], [ModifyBy], [LastLoginDate], [LastPasswordChangedDate], [LastLockoutDate], [Comment]) VALUES (1, 1, N'Employee', N'rahulkp@gmail.com', N'123@Rahul', 0, 0, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[tblAuthentication] ([AuthenticationId], [UserId], [UserType], [UserName], [Password], [IsLockedOut], [IsDelete], [CreatedBy], [CreatedDate], [ModifyDate], [ModifyBy], [LastLoginDate], [LastPasswordChangedDate], [LastLockoutDate], [Comment]) VALUES (2, 5, N'Employee', N'ksabree@yahoo.com', N'Credit2020!', NULL, NULL, NULL, CAST(N'2020-07-25T16:25:29.003' AS DateTime), NULL, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[tblAuthentication] ([AuthenticationId], [UserId], [UserType], [UserName], [Password], [IsLockedOut], [IsDelete], [CreatedBy], [CreatedDate], [ModifyDate], [ModifyBy], [LastLoginDate], [LastPasswordChangedDate], [LastLockoutDate], [Comment]) VALUES (3, 6, N'Employee', N'rohitkp@gmail.com', N'Rohit@12345', NULL, NULL, NULL, CAST(N'2020-07-25T16:45:34.600' AS DateTime), NULL, NULL, NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[tblAuthentication] OFF
SET IDENTITY_INSERT [dbo].[tblBranch] ON 

INSERT [dbo].[tblBranch] ([BranchId], [CompanyId], [BranchName], [HandlerName], [Address], [City], [State], [CreatedDate], [IsDeleted], [IsHeadBranch]) VALUES (1, 1, N'Jodhpur Branch', N'Rahul Kalyanpuri', N'Jodhpur', N'Jodhpur', N'Rajasthan', CAST(N'2020-07-20T00:00:00.000' AS DateTime), 0, 0)
SET IDENTITY_INSERT [dbo].[tblBranch] OFF
SET IDENTITY_INSERT [dbo].[tblClient] ON 

SET IDENTITY_INSERT [dbo].[tblClient] OFF
SET IDENTITY_INSERT [dbo].[tblClientInvoice] ON 

INSERT [dbo].[tblClientInvoice] ([ReceiptNo], [ReceiptDate], [ClientName], [MemberShipNo], [Mobile], [PaymentMode], [AmountInWord], [Amount], [ManagerSignature], [CreatedDate], [InvoiceFileName]) VALUES (1, NULL, N'Rohit Kalyanpuri', 24, N'9119190279', NULL, N'One Thousand', CAST(1000 AS Decimal(18, 0)), NULL, CAST(N'2020-07-09T20:22:50.730' AS DateTime), NULL)
INSERT [dbo].[tblClientInvoice] ([ReceiptNo], [ReceiptDate], [ClientName], [MemberShipNo], [Mobile], [PaymentMode], [AmountInWord], [Amount], [ManagerSignature], [CreatedDate], [InvoiceFileName]) VALUES (2, NULL, N'Rohit Kalyanpuri', 24, N'9119190279', NULL, N'One Thousand', CAST(1000 AS Decimal(18, 0)), NULL, CAST(N'2020-07-09T20:25:50.783' AS DateTime), NULL)
INSERT [dbo].[tblClientInvoice] ([ReceiptNo], [ReceiptDate], [ClientName], [MemberShipNo], [Mobile], [PaymentMode], [AmountInWord], [Amount], [ManagerSignature], [CreatedDate], [InvoiceFileName]) VALUES (6, CAST(N'2020-10-07T00:00:00.000' AS DateTime), N'Rohit Kalyanpuri', 24, N'9119190279', NULL, NULL, CAST(1000 AS Decimal(18, 0)), NULL, CAST(N'2020-07-10T16:44:29.323' AS DateTime), NULL)
SET IDENTITY_INSERT [dbo].[tblClientInvoice] OFF
SET IDENTITY_INSERT [dbo].[tblCompany] ON 

INSERT [dbo].[tblCompany] ([CompanyId], [CompanyName], [CreatedDate], [Address], [City], [State], [IsDeleted]) VALUES (1, N'Buddha Relax Spa', N'2020-07-20', N'Jodhpur', N'Jodhpur', N'Rajasthan', 0)
SET IDENTITY_INSERT [dbo].[tblCompany] OFF
SET IDENTITY_INSERT [dbo].[tblEmployee] ON 

INSERT [dbo].[tblEmployee] ([EmployeeId], [RoleId], [FirstName], [LastName], [EmailId], [MobileNumber], [Gender], [Address], [ProfileImg], [IsActive], [CreatedBy], [CreatedDate], [ModifyBy], [ModifyDate], [IsDelete], [CompanyId], [BranchId]) VALUES (1, 1, N'Rahul', N'Kalyanpuri', N'rahulkp@gmail.com', NULL, N'Male', NULL, NULL, 1, NULL, NULL, NULL, NULL, 0, 1, 1)
INSERT [dbo].[tblEmployee] ([EmployeeId], [RoleId], [FirstName], [LastName], [EmailId], [MobileNumber], [Gender], [Address], [ProfileImg], [IsActive], [CreatedBy], [CreatedDate], [ModifyBy], [ModifyDate], [IsDelete], [CompanyId], [BranchId]) VALUES (5, 3, N'4th', N'Employee', NULL, N'8888896525', N'Male', N'', NULL, 1, NULL, CAST(N'2020-07-25T16:25:29.003' AS DateTime), NULL, NULL, 1, 1, 1)
INSERT [dbo].[tblEmployee] ([EmployeeId], [RoleId], [FirstName], [LastName], [EmailId], [MobileNumber], [Gender], [Address], [ProfileImg], [IsActive], [CreatedBy], [CreatedDate], [ModifyBy], [ModifyDate], [IsDelete], [CompanyId], [BranchId]) VALUES (6, 2, N'Rohit', N'kp', NULL, N'7894563255', N'Male', N'', NULL, 1, NULL, CAST(N'2020-07-25T16:45:34.600' AS DateTime), NULL, CAST(N'2020-09-15T20:22:18.997' AS DateTime), 0, 1, 1)
SET IDENTITY_INSERT [dbo].[tblEmployee] OFF
SET IDENTITY_INSERT [dbo].[tblExpenses] ON 

INSERT [dbo].[tblExpenses] ([ExpensesId], [CreatedbyEmployeeId], [CompanyId], [EmployeeId], [Note], [CreatedDate], [TransactionType], [Amount], [BranchId]) VALUES (1, 1, 1, 8, N'salary', CAST(N'2020-06-19T13:54:58.563' AS DateTime), N'Credit', CAST(8500 AS Decimal(18, 0)), 1)
INSERT [dbo].[tblExpenses] ([ExpensesId], [CreatedbyEmployeeId], [CompanyId], [EmployeeId], [Note], [CreatedDate], [TransactionType], [Amount], [BranchId]) VALUES (2, 1, 1, 8, N'salary', CAST(N'2020-07-19T13:57:32.767' AS DateTime), N'Credit', CAST(8500 AS Decimal(18, 0)), 1)
INSERT [dbo].[tblExpenses] ([ExpensesId], [CreatedbyEmployeeId], [CompanyId], [EmployeeId], [Note], [CreatedDate], [TransactionType], [Amount], [BranchId]) VALUES (3, 1, 1, 7, N'salary', CAST(N'2020-08-19T13:58:58.917' AS DateTime), N'Credit', CAST(8500 AS Decimal(18, 0)), 1)
SET IDENTITY_INSERT [dbo].[tblExpenses] OFF
SET IDENTITY_INSERT [dbo].[tblRoleMaster] ON 

INSERT [dbo].[tblRoleMaster] ([Id], [RoleName], [Status], [Created], [Modified], [ModifiedCount]) VALUES (1, N'Admin', 1, CAST(N'2020-07-01T21:39:00.813' AS DateTime), CAST(N'2020-07-01T21:39:00.813' AS DateTime), 0)
INSERT [dbo].[tblRoleMaster] ([Id], [RoleName], [Status], [Created], [Modified], [ModifiedCount]) VALUES (2, N'Manager', 1, CAST(N'2020-07-20T00:00:00.000' AS DateTime), CAST(N'2020-07-20T16:15:23.807' AS DateTime), 0)
INSERT [dbo].[tblRoleMaster] ([Id], [RoleName], [Status], [Created], [Modified], [ModifiedCount]) VALUES (3, N'Employee', 1, CAST(N'2020-07-20T00:00:00.000' AS DateTime), CAST(N'2020-07-20T16:16:19.373' AS DateTime), 0)
SET IDENTITY_INSERT [dbo].[tblRoleMaster] OFF
SET IDENTITY_INSERT [dbo].[tblTherapyLogs] ON 

INSERT [dbo].[tblTherapyLogs] ([LogId], [ClientId], [ClientName], [EmployeeId], [StartDatetime], [EndDateTime], [IsCompleted], [MassageTime], [RoomNo], [IsStarted], [IsDeleted], [DeleteReason]) VALUES (1, 38, N'Test', 10, CAST(N'2020-07-28T22:19:03.043' AS DateTime), NULL, 0, 0, N'2', 0, 0, NULL)
INSERT [dbo].[tblTherapyLogs] ([LogId], [ClientId], [ClientName], [EmployeeId], [StartDatetime], [EndDateTime], [IsCompleted], [MassageTime], [RoomNo], [IsStarted], [IsDeleted], [DeleteReason]) VALUES (2, 39, N'Ravi', NULL, CAST(N'2020-07-29T14:59:14.167' AS DateTime), CAST(N'2020-07-29T15:44:14.167' AS DateTime), 1, 45, NULL, 0, 0, NULL)
INSERT [dbo].[tblTherapyLogs] ([LogId], [ClientId], [ClientName], [EmployeeId], [StartDatetime], [EndDateTime], [IsCompleted], [MassageTime], [RoomNo], [IsStarted], [IsDeleted], [DeleteReason]) VALUES (3, 39, N'Ravi', NULL, CAST(N'2020-07-29T15:20:34.953' AS DateTime), NULL, 0, 0, NULL, 0, 0, NULL)
SET IDENTITY_INSERT [dbo].[tblTherapyLogs] OFF
ALTER TABLE [dbo].[tblBranch] ADD  CONSTRAINT [DF_tblBranch_IsDeleted]  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[tblBranch] ADD  CONSTRAINT [DF_tblBranch_IsHeadBranch]  DEFAULT ((0)) FOR [IsHeadBranch]
GO
ALTER TABLE [dbo].[tblClient] ADD  CONSTRAINT [DF_tblClient_IsDeleted]  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[tblClient] ADD  CONSTRAINT [DF_tblClient_MassageTime]  DEFAULT ((30)) FOR [MassageTime]
GO
ALTER TABLE [dbo].[tblCompany] ADD  CONSTRAINT [DF_tblCompany_IsDeleted]  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[tblEmployee] ADD  CONSTRAINT [DF_tblEmployee_IsActive]  DEFAULT ((0)) FOR [IsActive]
GO
ALTER TABLE [dbo].[tblEmployee] ADD  CONSTRAINT [DF_tblEmployee_IsDelete]  DEFAULT ((0)) FOR [IsDelete]
GO
ALTER TABLE [dbo].[tblRoleMaster] ADD  CONSTRAINT [DF_SEC_Role_Status]  DEFAULT ((1)) FOR [Status]
GO
ALTER TABLE [dbo].[tblRoleMaster] ADD  CONSTRAINT [DF_SEC_Role_Created]  DEFAULT (getdate()) FOR [Created]
GO
ALTER TABLE [dbo].[tblRoleMaster] ADD  CONSTRAINT [DF_SEC_Role_Modified]  DEFAULT (getdate()) FOR [Modified]
GO
ALTER TABLE [dbo].[tblRoleMaster] ADD  CONSTRAINT [DF_SEC_Role_ModifiedCount]  DEFAULT ((0)) FOR [ModifiedCount]
GO
ALTER TABLE [dbo].[tblTherapyLogs] ADD  CONSTRAINT [DF_tblTherapyLogs_IsCompleted]  DEFAULT ((0)) FOR [IsCompleted]
GO
ALTER TABLE [dbo].[tblTherapyLogs] ADD  CONSTRAINT [DF_tblTherapyLogs_MassageTime]  DEFAULT ((0)) FOR [MassageTime]
GO
ALTER TABLE [dbo].[tblTherapyLogs] ADD  CONSTRAINT [DF_tblTherapyLogs_IsStarted]  DEFAULT ((0)) FOR [IsStarted]
GO
ALTER TABLE [dbo].[tblTherapyLogs] ADD  CONSTRAINT [DF_tblTherapyLogs_IsDeleted]  DEFAULT ((0)) FOR [IsDeleted]
GO
/****** Object:  StoredProcedure [dbo].[CREATEMODEL]    Script Date: 9/19/2020 7:28:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[CREATEMODEL]  
(  
     @TableName SYSNAME ,  
     @CLASSNAME VARCHAR(500)   
)  
AS  
BEGIN  
    DECLARE @Result VARCHAR(MAX)  
  
    SET @Result = @CLASSNAME + @TableName + '  
{'  
  
SELECT @Result = @Result + '  
    public ' + ColumnType + NullableSign + ' ' + ColumnName + ' { get; set; }'  
FROM  
(  
    SELECT   
        REPLACE(col.NAME, ' ', '_') ColumnName,  
        column_id ColumnId,  
        CASE typ.NAME   
            WHEN 'bigint' THEN 'long'  
            WHEN 'binary' THEN 'byte[]'  
            WHEN 'bit' THEN 'bool'  
            WHEN 'char' THEN 'string'  
            WHEN 'date' THEN 'DateTime'  
            WHEN 'datetime' THEN 'DateTime'  
            WHEN 'datetime2' then 'DateTime'  
            WHEN 'datetimeoffset' THEN 'DateTimeOffset'  
            WHEN 'decimal' THEN 'decimal'  
            WHEN 'float' THEN 'float'  
            WHEN 'image' THEN 'byte[]'  
            WHEN 'int' THEN 'int'  
            WHEN 'money' THEN 'decimal'  
            WHEN 'nchar' THEN 'char'  
            WHEN 'ntext' THEN 'string'  
            WHEN 'numeric' THEN 'decimal'  
            WHEN 'nvarchar' THEN 'string'  
            WHEN 'real' THEN 'double'  
            WHEN 'smalldatetime' THEN 'DateTime'  
            WHEN 'smallint' THEN 'short'  
            WHEN 'smallmoney' THEN 'decimal'  
            WHEN 'text' THEN 'string'  
            WHEN 'time' THEN 'TimeSpan'  
            WHEN 'timestamp' THEN 'DateTime'  
            WHEN 'tinyint' THEN 'byte'  
            WHEN 'uniqueidentifier' THEN 'Guid'  
            WHEN 'varbinary' THEN 'byte[]'  
            WHEN 'varchar' THEN 'string'  
            ELSE 'UNKNOWN_' + typ.NAME  
        END ColumnType,  
        CASE   
            WHEN col.is_nullable = 1 and typ.NAME in ('bigint', 'bit', 'date', 'datetime', 'datetime2', 'datetimeoffset', 'decimal', 'float', 'int', 'money', 'numeric', 'real', 'smalldatetime', 'smallint', 'smallmoney', 'time', 'tinyint', 'uniqueidentifier')   
            THEN '?'   
            ELSE ''   
        END NullableSign  
    FROM SYS.COLUMNS col join sys.types typ on col.system_type_id = typ.system_type_id AND col.user_type_id = typ.user_type_id  
    where object_id = object_id(@TableName)  
) t  
ORDER BY ColumnId  
SET @Result = @Result  + '  
}'  
  
print @Result  
  
END  
GO
/****** Object:  StoredProcedure [dbo].[spDashboardDetails]    Script Date: 9/19/2020 7:28:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
  
CREATE PROCEDURE [dbo].[spDashboardDetails]   
   @UserId Bigint
AS  
BEGIN  
 Declare @RoleId as Bigint;

 Declare @BusinessRate int;  

  Declare @Last24HoursTrax as decimal;  

  Declare @TotalCustomers as bigint; 

   Declare @LastMonthSales as decimal; 

 SET @RoleId = (Select Emp.RoleId From tblEmployee AS EMP Where Emp.EmployeeId=@UserId)

 if(@RoleId = 1)
 BEGIN
  
 Declare @CompanyId as Bigint;
 Declare @BranchId as Bigint;

 SET @CompanyId = (Select Emp.CompanyId From tblEmployee AS EMP Where Emp.EmployeeId=@UserId);

 SET @BranchId =  (Select Emp.BranchId From tblEmployee AS EMP Where Emp.EmployeeId=@UserId);

 SET @TotalCustomers =(Select Count(ClientId) From tblClient where IsDeleted=0 AND CompanyId=@CompanyId AND BranchId= @BranchId);  
  

  
 SET @Last24HoursTrax = (Select SUM(INV.Amount) 
                         From tblClientInvoice AS INV 
						 LEFT JOIN tblClient AS CL ON CL.ClientId = INV.MemberShipNo 
						 AND CompanyId=@CompanyId AND BranchId= @BranchId
						 where INV.CreatedDate >= DATEADD(day,-1,GETDATE())
						 );  
  
 
 DECLARE @StartDate DATETIME, @EndDate DATETIME  
 SET @StartDate = DATEADD(mm, DATEDIFF(mm,0,getdate())-1, 0)  
 SET @EndDate = DATEADD(mm, 1, @StartDate)  
  
  
 SET @LastMonthSales = (Select SUM(INV.Amount) 
						From tblClientInvoice AS INV
						LEFT JOIN tblClient AS CL ON CL.ClientId = INV.MemberShipNo 
						AND CL.CompanyId=@CompanyId AND CL.BranchId= @BranchId
						WHERE INV.CreatedDate Between @StartDate And @EndDate);  
  
 DECLARE @LastWeekStartDate DATETIME, @LastWeekEndDate DATETIME  
 SET @LastWeekStartDate = (SELECT DATEADD(wk,DATEDIFF(wk,7,GETDATE()),-1))  
 SET @LastWeekEndDate = (SELECT DATEADD(wk,DATEDIFF(wk,7,GETDATE()),5))  
  
 DECLARE @LastToLastWeekStartDate DATETIME, @LastToLasttWeekEndDate DATETIME  
 SET @LastToLastWeekStartDate = (SELECT DATEADD(wk,DATEDIFF(wk,7,GETDATE()),-1))  
 SET @LastToLasttWeekEndDate = (SELECT DATEADD(wk,DATEDIFF(wk,7,GETDATE()),5))  
  
 Declare @LastToLastWeekTrax Decimal;  
 Declare @LastWeekTrax Decimal;  
 Declare @DifferenceInSales Decimal;  
 
  
 SET @LastToLastWeekTrax = (Select SUM(INV.Amount) 
							From tblClientInvoice AS INV
							LEFT JOIN tblClient AS CL ON CL.ClientId = INV.MemberShipNo 
							AND CL.CompanyId=@CompanyId AND CL.BranchId= @BranchId
							WHERE INV.CreatedDate Between @LastToLastWeekStartDate And @LastToLasttWeekEndDate);  
   
 SET @LastWeekTrax = (Select SUM(INV.Amount) 
                     From tblClientInvoice AS INV
					 LEFT JOIN tblClient AS CL ON CL.ClientId = INV.MemberShipNo 
					 AND CL.CompanyId=@CompanyId AND CL.BranchId= @BranchId
					 WHERE INV.CreatedDate Between @LastWeekStartDate And @LastWeekEndDate);  
  
 Set @DifferenceInSales = @LastToLastWeekTrax - @LastWeekTrax;  
  
 SET @BusinessRate = (@DifferenceInSales/@LastWeekTrax)*100;  
 --If your answer is a negative number, then this is a percentage decrease.  
  
  
 
 END
 
 SELECT ISNULL(@BusinessRate,0) AS BusinessRate,  
 ISNULL(@Last24HoursTrax,0) AS Last24HoursTrax,  
 ISNULL(@TotalCustomers,0) AS TotalCustomers,  
 ISNULL(@LastMonthSales,0) AS LastMonthSales  
END  
GO
/****** Object:  StoredProcedure [dbo].[spGetAllEmployees]    Script Date: 9/19/2020 7:28:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
  
CREATE PROCEDURE [dbo].[spGetAllEmployees]  
 @CompanyId Bigint,  
 @UserId Bigint  
AS  
BEGIN  
 SELECT EMP.[EmployeeId]  
      ,EMP.[RoleId]  
      ,EMP.[FirstName]  
      ,EMP.[LastName]  
      ,EMP.[EmailId]  
      ,EMP.[MobileNumber]  
      ,EMP.[Gender]  
      ,EMP.[Address]  
      ,EMP.[ProfileImg]  
      ,EMP.[IsActive]  
      ,EMP.[CreatedBy]  
      ,EMP.[CreatedDate]  
      ,EMP.[ModifyBy]  
      ,EMP.[ModifyDate]  
      ,EMP.[IsDelete]  
      ,EMP.[CompanyId]  
      ,EMP.[BranchId]  
   ,RM.[RoleName]  
   ,BR.[BranchName]  
   ,AUT.UserType
   ,AUT.UserName
   ,AUT.[Password]
  FROM [dbo].[tblEmployee] AS EMP  
  LEFT JOIN [dbo].[tblRoleMaster] AS RM ON RM.Id=EMP.RoleId  
  LEFT JOIN [dbo].[tblBranch] AS BR ON BR.BranchId = EMP.BranchId 
  LEFT JOIN [dbo].[tblAuthentication] AS AUT ON AUT.UserId = EMP.EmployeeId
  WHERE EMP.IsDelete=0 AND EMP.CompanyId=@CompanyId AND EMP.EmployeeId != @UserId  
END  
GO
/****** Object:  StoredProcedure [dbo].[spGetClientById]    Script Date: 9/19/2020 7:28:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[spGetClientById] 
	@ClientId Bigint
AS
BEGIN
	SELECT [ClientId]
      ,CL.[ClientName]
      ,[MemberName]
      ,[CardNo]
      ,[DateOfBirth]
      ,[Gender]
      ,[Address]
      ,[City]
      ,[State]
      ,[Phone]
      ,[CustomerImage]
      ,[CustomerQRCode]
      ,[IsDeleted]
      ,[Email]
      ,[TherapyPreference]
      ,[InjuryOrDisease]
      ,[MassagePreference]
      ,[PainingArea]
      ,[MassageCount]
	  ,[MassageTime]
	  ,(CASE WHEN CL.MassageBalance >0 THEN CL.MassageBalance ELSE 0 END) AS MassageBalance
     FROM [dbo].[tblClient] AS CL
     WHERE CL.ClientId=@ClientId
END
GO
/****** Object:  StoredProcedure [dbo].[spGetClients]    Script Date: 9/19/2020 7:28:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--Exec spGetClients 9  
CREATE PROCEDURE [dbo].[spGetClients]  
 @RowNumber int =0  
AS  
BEGIN  
 ;WITH results AS (  
    SELECT   
        rowNo = ROW_NUMBER() OVER( ORDER BY ClientId Desc )  
        , ClientId
		,[ClientName]
      ,[MemberName]
      ,[CardNo]
      ,[DateOfBirth]
      ,[Gender]
      ,[Address]
      ,[City]
      ,[State]
      ,[Phone]
      ,[CustomerImage]
      ,[CustomerQRCode]
	  ,[IsDeleted]
	  ,[TherapyPreference]
    FROM tblClient  
)   
SELECT Top 9 *   
FROM results  
WHERE rowNo >@RowNumber  
AND IsDeleted =0
--WHERE rowNo between (@pageNumber-1)*@pageSize+1 and @pageNumber*@pageSize  
END  
GO
/****** Object:  StoredProcedure [dbo].[spGetClientWithFilter]    Script Date: 9/19/2020 7:28:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[spGetClientWithFilter] 
	@Query varchar(Max)
AS
BEGIN
Declare @QueryTab varchar(Max)   ;

SET @QueryTab = 
'SELECT CL.ClientId,
CL.ClientName,
CL.MemberName,
CL.Gender,
CL.DateOfBirth,
CL.CardNo,
CL.[Address],
CL.City,
CL.[State],
CL.Phone,
CL.CustomerImage,
CL.CustomerQRCode,
CL.TherapyPreference
FROM [dbo].[tblClient] AS CL WHERE CL.IsDeleted=0 AND (' + @Query +')';

print '1'
exec (@QueryTab)  

END
GO
/****** Object:  StoredProcedure [dbo].[spGetEmployeeByBranchId]    Script Date: 9/19/2020 7:28:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
  
  
create PROCEDURE [dbo].[spGetEmployeeByBranchId]  
 @BranchId Bigint  
 
AS  
BEGIN  
 SELECT EMP.[EmployeeId]  
      ,EMP.[RoleId]  
      ,EMP.[FirstName]  
      ,EMP.[LastName]  
      ,EMP.[EmailId]  
      ,EMP.[MobileNumber]  
      ,EMP.[Gender]  
      ,EMP.[Address]  
      ,EMP.[ProfileImg]  
      ,EMP.[IsActive]  
      ,EMP.[CreatedBy]  
      ,EMP.[CreatedDate]  
      ,EMP.[ModifyBy]  
      ,EMP.[ModifyDate]  
      ,EMP.[IsDelete]  
      ,EMP.[CompanyId]  
      ,EMP.[BranchId]  
   ,RM.[RoleName]  
   ,BR.[BranchName]  
   ,AUT.UserType
   ,AUT.UserName
   ,AUT.[Password]
  FROM [dbo].[tblEmployee] AS EMP  
  LEFT JOIN [dbo].[tblRoleMaster] AS RM ON RM.Id=EMP.RoleId  
  LEFT JOIN [dbo].[tblBranch] AS BR ON BR.BranchId = EMP.BranchId  
  LEFT JOIN [dbo].[tblAuthentication] AS AUT ON AUT.UserId = EMP.EmployeeId
  WHERE EMP.BranchId=@BranchId  
END  
GO
/****** Object:  StoredProcedure [dbo].[spGetEmployeeById]    Script Date: 9/19/2020 7:28:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
  
  
CREATE PROCEDURE [dbo].[spGetEmployeeById]  
 @EmployeeId Bigint  
AS  
BEGIN  
 SELECT EMP.[EmployeeId]  
      ,EMP.[RoleId]  
      ,EMP.[FirstName]  
      ,EMP.[LastName]  
      ,EMP.[EmailId]  
      ,EMP.[MobileNumber]  
      ,EMP.[Gender]  
      ,EMP.[Address]  
      ,EMP.[ProfileImg]  
      ,EMP.[IsActive]  
      ,EMP.[CreatedBy]  
      ,EMP.[CreatedDate]  
      ,EMP.[ModifyBy]  
      ,EMP.[ModifyDate]  
      ,EMP.[IsDelete]  
      ,EMP.[CompanyId]  
      ,EMP.[BranchId]  
   ,RM.[RoleName]  
   ,BR.[BranchName]  
   ,AUT.UserType
   ,AUT.UserName
   ,AUT.[Password]
  FROM [dbo].[tblEmployee] AS EMP  
  LEFT JOIN [dbo].[tblRoleMaster] AS RM ON RM.Id=EMP.RoleId  
  LEFT JOIN [dbo].[tblBranch] AS BR ON BR.BranchId = EMP.BranchId  
  LEFT JOIN [dbo].[tblAuthentication] AS AUT ON AUT.UserId = EMP.EmployeeId
  WHERE EMP.EmployeeId=@EmployeeId  
END  
GO
/****** Object:  StoredProcedure [dbo].[spGetEmployeeWithFilter]    Script Date: 9/19/2020 7:28:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
    
CREATE PROCEDURE [dbo].[spGetEmployeeWithFilter]     
 @Query varchar(Max)    
AS    
BEGIN    
Declare @QueryTab varchar(Max)   ;    
    
SET @QueryTab =     
'SELECT EMP.[EmployeeId]  
      ,EMP.[RoleId]  
      ,EMP.[FirstName]  
      ,EMP.[LastName]  
      ,EMP.[EmailId]  
      ,EMP.[MobileNumber]  
      ,EMP.[Gender]  
      ,EMP.[Address]  
      ,EMP.[ProfileImg]  
      ,EMP.[IsActive]  
      ,EMP.[CreatedBy]  
      ,EMP.[CreatedDate]  
      ,EMP.[ModifyBy]  
      ,EMP.[ModifyDate]  
      ,EMP.[IsDelete]  
      ,EMP.[CompanyId]  
      ,EMP.[BranchId]  
	  ,RM.[RoleName]  
	  ,BR.[BranchName]  
      ,AUT.UserType
      ,AUT.UserName
      ,AUT.[Password]
  FROM [dbo].[tblEmployee] AS EMP  
  LEFT JOIN [dbo].[tblRoleMaster] AS RM ON RM.Id=EMP.RoleId  
  LEFT JOIN [dbo].[tblBranch] AS BR ON BR.BranchId = EMP.BranchId 
  LEFT JOIN [dbo].[tblAuthentication] AS AUT ON AUT.UserId = EMP.EmployeeId
  WHERE EMP.IsDelete=0 ' + @Query ;    
    
   
exec (@QueryTab)      
    
END 
GO
/****** Object:  StoredProcedure [dbo].[spGetExpenses]    Script Date: 9/19/2020 7:28:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- ================================================
-- Template generated from Template Explorer using:
-- Create Procedure (New Menu).SQL
--
-- Use the Specify Values for Template Parameters 
-- command (Ctrl-Shift-M) to fill in the parameter 
-- values below.
--
-- This block of comments will not be included in
-- the definition of the procedure.

-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- exec spGetExpenses 180,1,1
-- =============================================
CREATE PROCEDURE [dbo].[spGetExpenses] 
	@LastDays int,
	@UserId bigint,
	@CompanyId bigint,
	@BranchId bigint
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	Declare @RoleId Bigint;
	Set @RoleId =(Select RoleId From tblEmployee Where EmployeeId=@UserId)

	Declare @DateTime DateTime;
    Set @DateTime = DATEADD(DAY,  @LastDays *-1, GETDATE())

	If(@RoleId =1)
		Begin
			Select Ex.ExpensesId,
			Ex.CompanyId,
			Ex.CreatedbyEmployeeId,
			(CEmp.FirstName+' '+CEmp.LastName) As CreatedbyEmployeeName,
			Ex.EmployeeId,
			(Emp.FirstName+' '+Emp.LastName) As EmployeeName,
			Ex.Note,
			Ex.CreatedDate,
			Ex.TransactionType,
			Ex.Amount,
			Ex.BranchId 
			From tblExpenses AS Ex
			Left Join tblEmployee As Emp On Emp.EmployeeId=Ex.EmployeeId
			Left Join tblEmployee As CEmp on CEmp.EmployeeId = Ex.CreatedbyEmployeeId
			Where Ex.CompanyId=@CompanyId AND Ex.CreatedDate >=@DateTime AND Ex.BranchId=@BranchId
			Order by Ex.CreatedDate Desc;
		End
	Else 
	Begin
	     Select Ex.ExpensesId,
			Ex.CompanyId,
			Ex.CreatedbyEmployeeId,
			(CEmp.FirstName+' '+CEmp.LastName) As CreatedbyEmployeeName,
			Ex.EmployeeId,
			(Emp.FirstName+' '+Emp.LastName) As EmployeeName,
			Ex.Note,
			Ex.CreatedDate,
			Ex.TransactionType,
			Ex.Amount,
			Ex.BranchId 
			From tblExpenses AS Ex
			Left Join tblEmployee As Emp On Emp.EmployeeId=Ex.EmployeeId
			Left Join tblEmployee As CEmp on CEmp.EmployeeId = Ex.CreatedbyEmployeeId
			Where Ex.CompanyId=@CompanyId AND Ex.CreatedbyEmployeeId=@UserId AND Ex.CreatedDate >=@DateTime AND Ex.BranchId=@BranchId
			Order by Ex.CreatedDate Desc;
	End
    
END
GO
/****** Object:  StoredProcedure [dbo].[spGetExpensesById]    Script Date: 9/19/2020 7:28:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- ================================================
-- Template generated from Template Explorer using:
-- Create Procedure (New Menu).SQL
--
-- Use the Specify Values for Template Parameters 
-- command (Ctrl-Shift-M) to fill in the parameter 
-- values below.
--
-- This block of comments will not be included in
-- the definition of the procedure.

-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
create PROCEDURE [dbo].[spGetExpensesById] 
	@ExpensesId bigint
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	
	
			Select Ex.ExpensesId,
			Ex.CompanyId,
			Ex.CreatedbyEmployeeId,
			(CEmp.FirstName+' '+CEmp.LastName) As CreatedbyEmployeeName,
			Ex.EmployeeId,
			(Emp.FirstName+' '+Emp.LastName) As EmployeeName,
			Ex.Note,
			Ex.CreatedDate,
			Ex.TransactionType,
			Ex.Amount,
			Ex.BranchId 
			From tblExpenses AS Ex
			Left Join tblEmployee As Emp On Emp.EmployeeId=Ex.EmployeeId
			Left Join tblEmployee As CEmp on CEmp.EmployeeId = Ex.CreatedbyEmployeeId
			Where Ex.ExpensesId=@ExpensesId;
	
    
END
GO
/****** Object:  StoredProcedure [dbo].[spGetExpensesGroupByEmployee]    Script Date: 9/19/2020 7:28:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[spGetExpensesGroupByEmployee]
	@CompanyId bigint,
	@BranchId bigint
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    Select Ex.EmployeeId
	,IsNull((Emp.FirstName+' '+Emp.LastName),'Others') As EmployeeName
	,(CASE WHEN Ex.TransactionType='Credit' THEN Sum(Ex.Amount) Else  0 END) AS TotalCredit
	,(CASE WHEN Ex.TransactionType='Debit' THEN Sum(Ex.Amount) Else 0 END) AS TotalDebit

	From tblExpenses Ex
	Left Join tblEmployee As Emp On Emp.EmployeeId = Ex.EmployeeId
	Where Ex.CompanyId=@CompanyId And Ex.BranchId=@BranchId
	Group by EX.EmployeeId,Ex.TransactionType,Emp.FirstName,Emp.LastName

END
GO
/****** Object:  StoredProcedure [dbo].[spGetInvoices]    Script Date: 9/19/2020 7:28:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[spGetInvoices]
	
AS
BEGIN
	SELECT TOP 100 [ReceiptNo]
      ,[ReceiptDate]
      ,[ClientName]
      ,[MemberShipNo]
      ,[Mobile]
      ,[PaymentMode]
      ,[AmountInWord]
      ,[Amount]
      ,[ManagerSignature]
      ,[CreatedDate]
      ,[InvoiceFileName]
  FROM [dbo].[tblClientInvoice]
  Order By ReceiptDate Desc
END
GO
/****** Object:  StoredProcedure [dbo].[spGetInvoicesByClientId]    Script Date: 9/19/2020 7:28:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[spGetInvoicesByClientId] 
	@ClientId bigint
AS
BEGIN
	SELECT Top 200 [ReceiptNo]
      ,[ReceiptDate]
      ,[ClientName]
      ,[MemberShipNo]
      ,[Mobile]
      ,[PaymentMode]
      ,[AmountInWord]
      ,[Amount]
      ,[ManagerSignature]
      ,[CreatedDate]
      ,[InvoiceFileName]
  FROM [BuddhaRelaxSpaDb].[dbo].[tblClientInvoice]
  WHERE MemberShipNo=@ClientId AND (InvoiceFileName IS NOT NULL OR InvoiceFileName != '')
  Order by ReceiptDate Desc
END
GO
/****** Object:  StoredProcedure [dbo].[spGetMassageTherapist]    Script Date: 9/19/2020 7:28:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

  
CREATE PROCEDURE [dbo].[spGetMassageTherapist]  
 @UserId Bigint  
AS  
BEGIN  

Declare @CompanyId as Bigint;
Declare @BranchId as Bigint;

 SET @CompanyId = (Select Emp.CompanyId From tblEmployee AS EMP Where Emp.EmployeeId=@UserId);

 SET @BranchId =  (Select Emp.BranchId From tblEmployee AS EMP Where Emp.EmployeeId=@UserId);

 SELECT EMP.[EmployeeId]  
      ,(EMP.[FirstName]+' ' +EMP.[LastName]) AS EmployeeName  
  FROM [dbo].[tblEmployee] AS EMP  
  WHERE EMP.BranchId= @BranchId AND RoleId=4
END  
GO
/****** Object:  StoredProcedure [dbo].[spGetTherapyLogByClientId]    Script Date: 9/19/2020 7:28:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[spGetTherapyLogByClientId]
	@ClientId Bigint
AS
BEGIN
	SELECT TL.[LogId]
      ,TL.[ClientId]
      ,TL.[ClientName]
      ,TL.[EmployeeId]
      ,TL.[StartDatetime]
      ,TL.[EndDateTime]
	  ,CL.MassageTime
	  ,TL.MassageTime AS CompletedMassageTime
   ,TL.IsCompleted
   ,TL.RoomNo
    ,TL.IsStarted
   ,TL.IsDeleted
   ,TL.DeleteReason
  FROM [dbo].[tblTherapyLogs] AS TL
  LEFT JOIN tblEmployee AS EMP ON EMP.EmployeeId = TL.EmployeeId
   LEFT JOIN tblClient AS CL ON CL.ClientId = TL.ClientId
  Where TL.ClientId = @ClientId
END
GO
/****** Object:  StoredProcedure [dbo].[spGetTherapyLogById]    Script Date: 9/19/2020 7:28:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[spGetTherapyLogById]
	@LogId Bigint
AS
BEGIN
	SELECT TL.[LogId]
      ,TL.[ClientId]
      ,TL.[ClientName]
      ,TL.[EmployeeId]
      ,TL.[StartDatetime]
      ,TL.[EndDateTime]
	  ,CL.MassageTime
	  ,TL.MassageTime AS CompletedMassageTime
   ,TL.IsCompleted
   ,TL.RoomNo
   ,TL.IsStarted
   ,TL.IsDeleted
   ,TL.DeleteReason
  FROM [dbo].[tblTherapyLogs] AS TL
  LEFT JOIN tblEmployee AS EMP ON EMP.EmployeeId = TL.EmployeeId
   LEFT JOIN tblClient AS CL ON CL.ClientId = TL.ClientId
  Where TL.LogId = @LogId
END
GO
/****** Object:  StoredProcedure [dbo].[spGetTherapyLogs]    Script Date: 9/19/2020 7:28:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- exec spGetTherapyLogs '2020-07-26','2020-07-29'
CREATE PROCEDURE [dbo].[spGetTherapyLogs]      
 @FromDate varchar(10)      
   ,@ToDate varchar(10)      
AS      
BEGIN      
 SELECT TL.[LogId]      
      ,TL.[ClientId]      
      ,TL.[ClientName]      
      ,TL.[EmployeeId]      
      ,TL.[StartDatetime]      
      ,TL.[EndDateTime]      
   ,CL.MassageTime    
   ,TL.MassageTime AS CompletedMassageTime
   ,TL.IsCompleted
   ,TL.RoomNo
   ,TL.IsStarted
   ,TL.IsDeleted
   ,TL.DeleteReason
  FROM [dbo].[tblTherapyLogs] AS TL      
  LEFT JOIN tblEmployee AS EMP ON EMP.EmployeeId = TL.EmployeeId      
  LEFT JOIN tblClient AS CL ON CL.ClientId = TL.ClientId    
  Where TL.[StartDatetime] Between TRY_CONVERT(DATETIME, @FromDate, 102)     
  AND TRY_CONVERT(DATETIME, @ToDate+' 23:59:59', 102)      
  AND TL.IsDeleted =0
  Order By TL.LogId Desc
END   
  
GO
/****** Object:  StoredProcedure [dbo].[spGetUserDetailByUserNameAndPassword]    Script Date: 9/19/2020 7:28:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[spGetUserDetailByUserNameAndPassword] 
	@Username varchar(100),
	@Password varchar(100)
AS
BEGIN
	SELECT AUT.UserId,
	AUT.UserType,
	EMP.RoleId,
	RLM.RoleName,
	EMP.FirstName,
	EMP.LastName,
	EMP.EmailId,
	EMP.MobileNumber,
	EMP.Gender,
	EMP.ProfileImg,
	EMP.CompanyId,
	EMP.BranchId
	FROM tblAuthentication AS AUT
	LEFT JOIN tblEmployee AS EMP ON EMP.EmployeeId = AUT.UserId
	LEFT JOIN tblRoleMaster AS RLM ON RLM.Id = EMP.RoleId
	WHERE AUT.UserName = @Username AND AUT.[Password] = @Password AND AUT.UserType = 'Employee'
END
GO
